<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation')%>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">About me</h1>
            <p class="d-flex justify-content-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime consequuntur aliquam doloremque eum reiciendis voluptas ducimus aperiam unde repellendus voluptate corporis exercitationem ex labore, iure sunt cumque fuga reprehenderit dolores.
            Culpa magnam, voluptatibus, voluptas quasi praesentium optio accusantium, magni facere labore ipsam fugiat. Cumque at repellendus odit quisquam perspiciatis quia, modi placeat, expedita illo porro minima ullam tempora temporibus earum?
            Quis perspiciatis voluptatum nesciunt reprehenderit. Nulla autem exercitationem facilis ipsa recusandae veniam quibusdam odit, excepturi quos atque dolorum, est dignissimos aliquam obcaecati vero dolor reprehenderit tempora illo repellendus unde. Consequatur.
            Nesciunt veritatis vitae iusto ea similique officiis culpa molestias obcaecati illo, tempore est deleniti voluptas iste neque optio inventore itaque. Maiores repellendus architecto magni eligendi cupiditate similique voluptatem magnam. Nemo.
            Aliquam nostrum totam quisquam sapiente delectus earum facere unde autem consequuntur? Obcaecati a eum exercitationem sapiente? Sunt deserunt, beatae quasi ipsum architecto, id fugiat dolore dicta itaque sapiente atque suscipit?
            Minima fugit cum enim voluptatibus voluptates asperiores tempore dolores magni architecto, quam dolor incidunt earum repudiandae dignissimos id eligendi deleniti sint laborum! Similique, accusamus. Itaque consectetur officiis quas quod laudantium.</p>
        </section>
    </main>

    <%- include('partials/footer')%>
    
    
</body>
</html>
