<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation')%>
    
    <div class="container mt-4  d-flex justify-content-center align-items-center">
        <div class="card bg-dark text-white text-center">
            <div class="card-header">
                <h1 class="d-flex justify-content-center"> Contacto:</h1>
                <div class="card-body text-start">
                    <form>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" placeholder="Escriba tu Email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje" rows="10" class="form-control" placeholder="Escriba tu consulta"></textarea>
                        </div>
                        <button class="btn btn-primary btn-block">
                            Enviar
                        </button>
                        <br>
                        <p class="d-flex justify-content-center">
                            Si deseas obtener más información sobre nuestros servicios o discutir tus necesidades tecnológicas, no dudes en ponerte en contacto con nosotros. Estamos aquí
                        
                        para ayudarte en cada paso del camino. Puedes comunicarte con nosotros a través de los siguientes medios:
                        <br>• Teléfono: 3202472368
                        <br>• Correo electrónico: info@innovatetechsolutions.com
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    <%- include('partials/footer')%>
</body>
</html>