<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>

    <%- include('partials/navigation')%>

     <!-- Main Contect-->

     <header class="container d-flex justify-contect-center align-items-center" style="min-height: 100vh;">
        <div class="flex-column d-flex vw-100 justify-contect-center align-items-center">
            <img src="/img/log.png" alt="logo" class=" rounded my-2 mt-5" style="display: block; margin: 0 auto; max-width: 100%; height:auto;">
            <h1 class="display-4  my-5 text-uppercase fw-bold" style="display: flex; justify-content: center; text-align: center;">InnovateTech Solutions</h1>
            <a href="/somos" class=" btn btn-primary my-custom-btn " style="
            justify-content: center; 
            text-align: center; 
            background-color: #060548;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            width: 150px;
            cursor: pointer;
            transition: background-color 0.1s ease; ">Quiénes Somos</a>
        </div>
    </header>

    <%- include('partials/footer')%>
    
</body>
</html>