<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>

    <%- include('partials/navigation')%>

     <!-- Main Contect-->

     <header class="container d-flex justify-contect-center align-items-center" style="height: fit-content; text-align: center;">
        <div class="d-flex flex-column vw-100 justify-contect-center align-items-center mb-3">
            <img src="/img/log.png" alt="logo" class="rounded my-2 mt-5" width="500px" height="200px">
            <h1 class="display-1 my-5 text-uppercase fw-bold">InnovateTech Solutions</h1>
            <a href="/somos" class="btn btn-primary mt-4 my-4 w-25" style="background: rgb(8, 20, 188); ">Quiénes Somos</a>
        </div>
    </header>

    <%- include('partials/footer')%>
    
</body>
</html>