<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation')%>

    <main class="container">
        <h1 class="mt-5 my-5 pt-8 text-center d-flex justify-content-center align-items-center">Portafolio de Proyectos</h1>
        <div class="portafolio-container">
            <div class="proyecto" style="justify-content: center; text-align: center; background: rgb(105, 44, 105);">
                <h4><b>Proyecto A:</b></h4>
                <p>Desarrollo de una plataforma de comercio electrónico escalable para una empresa minorista líder.</p>
            </div>
            <div class="proyecto" style="justify-content: center; text-align: center; background: rgb(84, 126, 59);">
                <h4><b>Proyecto B:</b></h4>
                <p>Diseño y desarrollo de una aplicación móvil de reserva de citas para una clínica médica.</p>
            </div>
            <div class="proyecto" style="justify-content: center; text-align: center; background: rgb(45, 38, 94);">
                <h4><b>Proyecto C:</b></h4>
                <p>Implementación de un sistema de gestión de inventario personalizado para una cadena de distribución.</p>
            </div>
            <div class="proyecto" style="justify-content: center; text-align: center; background: rgb(113, 58, 27);">
                <h4><b>Proyecto D:</b></h4>
                <p>Diseño y desarrollo de un sitio web interactivo para una agencia de marketing digital.</p>
            </div>
            
        </div>
    </main>
    

    
    <%- include('partials/footer')%>
    
    
</body>
</html>
