<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>

    <%- include('partials/navigation')%>

    <main class="container">
        <section>
            <div class="info">
                <h1 class=" my-4 "  style="display: flex; justify-content: center; text-align: center;">Servicios</h1>
            
                <p class="justify-content-center my-4">
                    En InnovateTech Solutions, ofrecemos una amplia gama de servicios tecnológicos diseñados para
                    satisfacer tus necesidades específicas. Desde el desarrollo de aplicaciones web y móviles hasta
                    el
                    diseño de interfaces de usuario, estamos preparados para enfrentar cualquier desafío
                    tecnológico.
                </p>
            </div>
            <div class="container">
                <div class="row justify-contect-center align-items-center">
                    <div class="col-md-6 text-center">
                        <img src="/img/servicios.png" class="img-fluid rounded-circle" width="500px"  style="display: block; margin: 0 auto; max-width: 100%; height:auto;" alt="">
                    </div>
                    <div class="col-md-6  text-center"> 
                    <ul>
                        <li>  Desarrollo de software a medida</li>
                        <li>  Diseño y desarrollo web</li>
                        <li>  Desarrollo de aplicaciones móviles</li>
                        <li>  Consultoría tecnológica</li>
                        <li>  Integración de sistemas</li>
                        <li>  Diseño de interfaces de usuario (UI/UX)</li>
                        <li>  Servicios de análisis de datos</li>
                        <li>  Seguridad y protección de datos</li>
                    </ul>
                    </div>
                </div>
            </div>

            
            <div class="info my-4">Confía en nuestro equipo altamente capacitado y experimentado para brindarte soluciones de alta
                calidad que impulsen tu negocio hacia el éxito.</div>
        </section>
    </main>

  

    <%- include('partials/footer')%>
    
</body>
</html>