<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>

    <%- include('partials/navigation')%>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Misi贸n: </h5>
              <p class="card-text">Nuestra misi贸n es ofrecer soluciones tecnol贸gicas innovadoras que impulsen el
                crecimiento y la transformaci贸n digital de nuestros clientes. Nos comprometemos a
                brindar productos y servicios de calidad que satisfagan las necesidades de manera
                efectiva y eficiente.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>





    <%- include('partials/footer')%>
    
</body>
</html>