<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>

    <%- include('partials/navigation')%>

    <main class="container pt-2 text-center d-flex justify-content-center align-items-center" style="flex-direction: column;">
      <section>
          <h1 class="my-4">Quiénes Somos</h1>
          <img src="/img/somos.png" class=" rounded-circle" style="width: 400px"  alt="">
          <p class="info my-4">Somos InnovateTech Solutions, una empresa líder en soluciones tecnológicas innovadoras. Nuestro equipo está compuesto por expertos apasionados por la tecnología, comprometidos en ofrecer resultados excepcionales a nuestros clientes.</p>
      </section>
      <section style="width: 100vh; display: flex; justify-content:center ; align-items: center; gap: 1em; margin-bottom: 5em;" >
          <div class="bg-dark my-4" style="min-width: 350px; max-width: 500px; padding: .7em .5em;">
              <h3>Misión</h3>
              <p> Nuestra misión es ofrecer soluciones tecnológicas innovadoras que impulsen el crecimiento y la transformación digital de nuestros clientes.</p>  
          </div>
          <div class="bg-dark my-4" style="min-width: 350px; max-width: 500px; padding: .7em .5em;"><h3>Visión</h3>
              <p> Ser reconocidos como líderes en el sector tecnológico, destacando por nuestra excelencia en la entrega de soluciones personalizadas y nuestra capacidad.</p>
          </div>
      </section>
  </main>


    <%- include('partials/footer')%>
    
</body>
</html>