<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>

    <%- include('partials/navigation')%>

    <h1 class="container my-4" style="display: flex; justify-content: center; align-items: center;">Testimonios de clientes</h1>

    <main class="container pt-2 text-center d-flex justify-content-center align-items-center">
        
        <div class="testimonios-container">
            <div class="text-center">
                <img src="/img/testimonios.png" class="rounded-circle my-4" alt="..." style="width: 400px">
            </div>
            <div class="testimonio bg-dark">
                <blockquote>
                    "La colaboración con InnovateTech Solutions ha sido excepcional. Han superado nuestras
                    expectativas en términos de calidad, tiempo de entrega y atención al cliente."
                    <br>
                    - <b>Empresa ABC</b>
                </blockquote>
            </div>
            <div class="testimonio bg-dark">
                <blockquote>
                    "El equipo de InnovateTech Solutions comprendió perfectamente nuestras necesidades y nos brindó
                    una solución personalizada que ha mejorado nuestra eficiencia operativa de manera
                    significativa". 
                    <br>- <b>Empresa ABC</b>
                </blockquote>
            </div>
            <div class="testimonio bg-dark">
                <blockquote>
                    "Recomendaría a InnovateTech Solutions a cualquier empresa que busque soluciones tecnológicas de
                    vanguardia. Su enfoque en la innovación y la calidad es impresionante". <br>- <b>Empresa 123</b>
                </blockquote>
            </div>

        </div>
    </main>

    

    <%- include('partials/footer')%>
    
</body>
</html>